/* -----------------------------------------------------
                      # App
----------------------------------------------------- */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app__wrapper {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  color: #2c3e50;
  overflow: hidden;
}

.no-permission {
  min-width: 300px;
  max-width: 600px;
  margin: 140px auto;
  text-align: center;
}

.not-found {
  min-width: 300px;
  max-width: 600px;
  margin: 200px auto;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .app__wrapper {
    font-size: 13px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .app__wrapper {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .app__wrapper {
    font-size: 16px;
  }
}

/* -----------------------------------------------------
                      # IE
----------------------------------------------------- */
@media screen and (minwidth:0\0) {
  .app__wrapper {}
}

/* -----------------------------------------------------
                      # Safari
----------------------------------------------------- */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {

    .app__wrapper {}
  }
}